<div class="container_fluid">
    <div class="jumbotron text-center mb-0">
        <h1>Úvodní stránka konference</h1>
        <p>Vítejte u webové konference o novinkách webových technologií.</p>
    </div>
    <div class="container shadow p-3 my-4 text-justify border">
        <h2 class="text-dark text-center">Aktuální články</h2>
        {{ block("articlesBlock", "articles.tpl.twig") }}
        {#{% if data is not empty %}#}
            {#{% for id in data %}#}
                {#<div class="card mb-3 bg-light text-dark">#}
                    {#<div class="card-header">#}
                        {#Zveřejněno: <b>{{ id.date }}</b>, uzivatelem <b>{{ id.author }}</b>.#}
                        {#{% if user_db_info.idprava == 2 %}#}
                            {#<button type="button"#}
                                    {#class="btn btn-outline-danger float-right">Delete</button>#}
                        {#{% endif %}#}
                    {#</div>#}
                    {#<div class="card-body">#}
                        {#<h4>{{ id.title }}</h4>#}
                        {#<p>{{ id.text }}</p>#}
                    {#</div>#}
                {#</div>#}
            {#{% endfor %}#}

            {#{% else %}#}
                {#<div class="card text-center text-dark">#}
                    {#<div class="card-body bg-light shadow border border-danger">#}
                        {#<h1>Chyba</h1>#}
                        {#<br>#}
                        {#<h2>Nebyly nalézeny žádné ohodnocené články.</h2>#}
                        {#<p>Zatím všechny články jsou na prohlížení u našich recenzentů.#}
                            {#Jakmile alespoň jeden z nich bude ohodnocen, hned se objeví tady.<br>#}
                            {#Omlouváme se za možné vzniklé potíže.</p>#}
                    {#</div>#}
                {#</div>#}
        {#{% endif %}#}
    </div>
</div>